/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0;
    background-color:  #e7e5f1;

}
span {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;

}

.container-header {
    padding: 10px;
    border: 2px solid #1d40de;
    background-color: #9da8cc;
    border-radius: 5px;
    box-shadow: 20px;
}

.container-1  {
    display: flex;
    flex-direction: column;
}

.container-sub-body {
    display: flex;
}

.container-sub-body-data {
    height: 30px;
    margin: 20px;
    
    flex-basis: 20%;
}

.container-1-first {
    flex-grow: 1;
}

.container-2-second {
    flex-grow: 1;
}

button {
    width : 170px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #eeb461;
    
}

